p-toolbar {
  background-color: var(--panel-bg);
  border: none;
  border-radius: 0;
  box-shadow: none;
}

button {
  background-color: var(--cyan);
  color: var(--txt-2);
  border-radius: 50%;
  border: 1px solid black;
}

button:hover {
  background-color: var(--cyan) !important;
  border: 1px solid black !important;
  color:var(--txt-2) !important;
  transform: translate(-0.5px, -0.5px) scale(1.05);
}

button:focus, button:active {
  background-color: var(--cyan) !important;
  border: 1px solid black !important;
  color:var(--txt-2) !important;
}

.right {
  display: flex;
  justify-content: flex-end;
  gap: 0.25rem;
}

:host ::ng-deep {
  .p-menu {
    background-color: var(--panel-bg);
    border: 1px solid black;
    box-shadow: none;
  }

  .p-menu-item-content:hover {
    background-color: var(--cyan) !important;
  }

  .p-menu-item-icon {
    color: var(--txt-1);
  }

  .p-menu-item-label {
    color: var(--txt-1);
  }

  .p-menu-item-content:hover :is(.p-menu-item-icon, .p-menu-item-label) {
    color: var(--txt-2) !important;
  }
}
