# ============
# Brevo SMTP - Email Configuration (dev & test)
# Copy and page this file to .env file and fill the values
# ============

BREVO_SMTP_USER=youremail@example.com
BREVO_SMTP_PASSWORD=yourpassword

FROM=sendersemail@example.com