.table-content-bg {
  background-color: var(--panel-bg);
  padding: 1em;
  border-radius: var(--radius-lg);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*-------- Toolbar --------*/
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 36px;
}

.left {
  display: flex;
  align-items: stretch;
  height: 100%;
  gap: .1em;
}

:host ::ng-deep {
  .p-iconfield .p-inputicon {
    color: var(--cyan);
  }

  .p-iconfield .p-inputtext {
    background-color: transparent;
    border-color: var(--app-bg);
    color: var(--txt-1);
    height: 100%;
  }

  .p-iconfield.filter .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .p-iconfield .p-inputtext:hover {
    border-color: var(--txt-1);
  }

  .p-iconfield .p-inputtext:focus {
    border-color: var(--cyan);
  }

  .p-button {
    background-color: var(--cyan);
    color: var(--txt-2);
    border-color: var(--app-bg);
    height: 100%;
  }

  .left .p-button {
    background-color: transparent;
    color: var(--txt-1);
  }

  .left .search .p-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :is(.left .p-button, .p-button):hover {
    background-color: var(--cyan);
    color: var(--txt-2);
    border-color: var(--cyan);
  }

  :is(.left .p-button, .p-button):focus {
    background-color: var(--cyan);
    color: var(--txt-2);
    border-color: var(--cyan);
  }

  .filters-container {
    background-color: var(--cyan);
  }
}

/*-------- Table --------*/
.table-wrap {
  overflow: auto;
  border-radius: var(--radius-md);
  border: 1px solid var(--app-bg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th{
  background-color: var(--cyan);
  color: var(--txt-2);
  text-align: left;
  font-weight: 500;
  font-size: var(--p);
  letter-spacing: .2px;
  padding: 14px;
  border-bottom: 1px solid var(--app-bg);
}

tbody td {
  padding: 14px;
  color: var(--txt-1);
  border-bottom: 1px solid var(--app-bg);
}

tbody tr:last-child td {
  border: none;
}

tbody tr:hover {
  background-color: var(--panel-bg-2);
}

.actions-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actions-container button {
  width: 36px;
  height: 36px;
  background: none;
  border: none;
  border-radius: 50%;
  margin: 0;
  transition: all .2s ease-in-out;
}

.actions-container button:hover {
  transform: scale(1.1) translate(-2px, -2px);
}

/*-------- Pagination --------*/
.pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hint .p-select {
  background: none;
  border-color: var(--app-bg);
}

:host ::ng-deep {
  .hint .p-select :is(.p-select-label, .p-select-dropdown) {
    color: var(--txt-1);
  }

  .hint .p-select .p-select-overlay {
    background-color: var(--panel-bg);
    border-color: var(--app-bg);
  }

  .hint .p-select .p-select-overlay .p-select-option-selected {
    background-color: var(--cyan);
    span {
      color: var(--txt-2);
    }
  }

  .hint .p-select .p-select-overlay .p-select-option {
    color: var(--txt-1);
  }

  .hint .p-select .p-select-overlay .p-select-option:hover {
    background-color: var(--cyan);
    color: var(--txt-2);
  }

  .hint .p-select .p-select-overlay .p-select-option.p-focus {
    background-color: var(--cyan);
    color: var(--txt-2);
  }
}

.p-paginator {
  background: none;
  border: none; 
  padding: 0;
}

:host ::ng-deep {
  .p-paginator .p-paginator-first, 
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-page,
  .p-paginator .p-paginator-next, 
  .p-paginator .p-paginator-last {
    color: var(--txt-1);
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 4px;
    font-size: var(--p);
  }

  .p-paginator .p-paginator-page {
    background-color: var(--panel-bg-2);
  }

  .p-paginator .p-paginator-page-selected {
    background-color: var(--cyan);
    color: var(--txt-2);
    cursor: default;
  }

  .p-paginator :is(.p-paginator-first, .p-paginator-prev,
  .p-paginator-page,
  .p-paginator-next, .p-paginator-last):hover:not(:disabled, .p-paginator-page-selected) {
    background-color: var(--cyan);
    color: var(--txt-2);
  }
}